<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <ul>
		<li><%= @book.author %></li>
  </ul>
</p>

<p>
  <b>Description:</b>
  <ul>
      <li><%= @book.description %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
